name: E2E Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: e2e-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: yarn --ignore-scripts --frozen-lockfile

      - name: Install awslocal
        run: pip install awscli-local[ver1]

      - name: Start localstack
        run: docker compose up -d --wait localstack

      - name: Run the tests
        run: yarn test:e2e

      - name: Notify failures
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_LINK_NAMES: true
          SLACK_MESSAGE:
            # prettier-ignore
            "hey @${{ github.actor }}, @mark, sorry to let you know you broke the build"
          SLACK_CHANNEL: feed-github
          SLACK_COLOR: ${{ job.status }}
