name: Lint

on:
  pull_request:
    branches:
      - main

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: yarn

      - name: Install Node.js dependencies
        run: yarn --frozen-lockfile

      - name: Run ESLint
        run: yarn lint

      - name: Run Prettier check
        run: yarn prettier
